body{
    background-image:url(img/sun.jpg);
}
h1{
    text-align: center;
    margin-top: 15px;
}
.title{
    margin-left: 100px;
}
.table{
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 100px;
    background-color: darkgrey;
}
.form-control{
    width: 30%;
    border: 1px solid black;
    margin-left: 100px;
    border-radius: 10px;
}
button{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content{
    display: flex;
}
img{
    margin-left: 40px;
    margin-bottom: 60px;
  
}
